In [4]:
import pandas as pd 
import numpy as np 
import ast

In [5]:
data = pd.read_csv("movies_metadata.csv")
data.head(1)

C:\Users\Aditya Anand\AppData\Local\Temp\ipykernel_22348\4223739988.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [6]:
# genres
# imdb_id 
# overview
# poster_path
# title
# id

movies = data[[ "id","title", "genres", "imdb_id", "overview", "poster_path", ]]
movies.head()

,id,title,genres,imdb_id,overview,poster_path
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",tt0113228,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0114885,"Cheated on, mistreated and stepped on, the wom...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",tt0113041,Just when George Banks has recovered from his ...,/e64sOI48hQXyru7naBFyssKFxVd.jpg

In [7]:
movies.id  = pd.to_numeric(movies.id , errors='coerce')

C:\Users\Aditya Anand\AppData\Local\Temp\ipykernel_22348\342274726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.id  = pd.to_numeric(movies.id , errors='coerce')

In [8]:
movies.id.isnull().sum()

np.int64(3)

In [9]:
movies = movies.dropna()

In [10]:
credits = pd.read_csv("credits.csv")

In [11]:
movies = movies.merge(credits, on= "id")

In [12]:
movies.head(3)

,id,title,genres,imdb_id,overview,poster_path,cast,crew
0,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844.0,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",tt0113497,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602.0,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",tt0113228,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

# Now
 
 Three columns here have very complicated format and its very to hard to read to us human and kinda impossible for computers,
 
 lets change all three of them to a list of some usefull tags and then we'll combine them.

In [13]:
def change_genres(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i["name"])
    return L

In [14]:
'''  applying to genres column  '''
movies.genres= movies.genres.apply(change_genres)

In [15]:
movies.head(1)

,id,title,genres,imdb_id,overview,poster_path,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]",tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."

In [16]:
#### '''   creating function for cast cvolumns    '''
movies.cast = movies.cast.apply(change_genres)

In [17]:
movies.head(2)

,id,title,genres,imdb_id,overview,poster_path,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]",tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]",tt0113497,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [18]:
def change_crew(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i["job"] == "Director":
            l.append(i["name"])
    return l

movies.crew= movies.crew.apply(change_crew)

In [19]:
movies.head(2)

,id,title,genres,imdb_id,overview,poster_path,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]",tt0114709,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]",tt0113497,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]

In [20]:
movies.overview = movies.overview.apply(lambda x: x.split())

In [21]:
movies.head()

,id,title,genres,imdb_id,overview,poster_path,cast,crew
0,862.0,Toy Story,"[Animation, Comedy, Family]",tt0114709,"[Led, by, Woody,, Andy's, toys, live, happily,...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]",tt0113497,"[When, siblings, Judy, and, Peter, discover, a...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602.0,Grumpier Old Men,"[Romance, Comedy]",tt0113228,"[A, family, wedding, reignites, the, ancient, ...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]",tt0114885,"[Cheated, on,, mistreated, and, stepped, on,, ...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,11862.0,Father of the Bride Part II,[Comedy],tt0113041,"[Just, when, George, Banks, has, recovered, fr...",/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

In [22]:
movies.genres = movies.genres.apply(lambda x: [ i.replace(" ", "") for i in x])
movies.cast = movies.cast.apply(lambda x: [ i.replace(" ", "") for i in x])
movies.crew = movies.crew.apply(lambda x: [ i.replace(" ", "") for i in x])

In [23]:
movies["tags"] = movies.overview + movies.cast + movies.crew + movies.genres

In [24]:
movies.head()

,id,title,genres,imdb_id,overview,poster_path,cast,crew,tags
0,862.0,Toy Story,"[Animation, Comedy, Family]",tt0114709,"[Led, by, Woody,, Andy's, toys, live, happily,...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter],"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]",tt0113497,"[When, siblings, Judy, and, Peter, discover, a...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston],"[When, siblings, Judy, and, Peter, discover, a..."
2,15602.0,Grumpier Old Men,"[Romance, Comedy]",tt0113228,"[A, family, wedding, reignites, the, ancient, ...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch],"[A, family, wedding, reignites, the, ancient, ..."
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]",tt0114885,"[Cheated, on,, mistreated, and, stepped, on,, ...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker],"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862.0,Father of the Bride Part II,[Comedy],tt0113041,"[Just, when, George, Banks, has, recovered, fr...",/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer],"[Just, when, George, Banks, has, recovered, fr..."

In [25]:
new_data = movies[['id','title','tags']]

In [26]:
new_data

,id,title,tags
0,862.0,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844.0,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602.0,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357.0,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862.0,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."
...,...,...,...
44222,439050.0,Subdue,"[Rising, and, falling, between, a, man, and, w..."
44223,111109.0,Century of Birthing,"[An, artist, struggles, to, finish, his, work,..."
44224,67758.0,Betrayal,"[When, one, of, her, hits, goes, wrong,, a, pr..."
44225,227506.0,Satan Triumphant,"[In, a, small, town, live, two, brothers,, one..."
44226,461257.0,Queerama,"[50, years, after, decriminalisation, of, homo..."

In [27]:
new_data.tags = new_data.tags.apply(lambda x: " ".join(x))

C:\Users\Aditya Anand\AppData\Local\Temp\ipykernel_22348\414895716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.tags = new_data.tags.apply(lambda x: " ".join(x))

In [28]:
new_data.tags = new_data.tags.apply(lambda x: x.lower())

C:\Users\Aditya Anand\AppData\Local\Temp\ipykernel_22348\199736564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.tags = new_data.tags.apply(lambda x: x.lower())

In [31]:
new_df = new_data.copy()

In [32]:
new_data = new_df.iloc[:8500,:]

In [33]:
new_data

,id,title,tags
0,862.0,Toy Story,"led by woody, andy's toys live happily in his ..."
1,8844.0,Jumanji,when siblings judy and peter discover an encha...
2,15602.0,Grumpier Old Men,a family wedding reignites the ancient feud be...
3,31357.0,Waiting to Exhale,"cheated on, mistreated and stepped on, the wom..."
4,11862.0,Father of the Bride Part II,just when george banks has recovered from his ...
...,...,...,...
8495,690.0,Pickpocket,michel is released from jail after serving a s...
8496,46918.0,Floating Weeds,a troupe of travelling players arrive at a sma...
8497,43111.0,The Young Philadelphians,up and coming young lawyer anthony lawrence fa...
8498,52745.0,The Leech Woman,an endocrinologist in a dysfunctional marriage...
8499,36872.0,When a Woman Ascends the Stairs,"keiko, whom everyone calls mama, narrates her ..."

In [34]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [35]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [36]:
stemed = new_data.tags.apply(stem)

In [37]:
new_data.tags = stemed

C:\Users\Aditya Anand\AppData\Local\Temp\ipykernel_22348\429840760.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.tags = stemed

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000, stop_words='english')

In [39]:
vectors = cv.fit_transform(new_data.tags).toarray()

In [40]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]])

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
similar_score = cosine_similarity(vectors)

In [43]:
similar_score

array([[1.        , 0.08451543, 0.06131393, ..., 0.26997462, 0.        ,
        0.02849014],
       [0.08451543, 1.        , 0.07254763, ..., 0.        , 0.        ,
        0.02247333],
       [0.06131393, 0.07254763, 1.        , ..., 0.02317449, 0.        ,
        0.        ],
       ...,
       [0.26997462, 0.        , 0.02317449, ..., 1.        , 0.        ,
        0.04307305],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.09090909],
       [0.02849014, 0.02247333, 0.        , ..., 0.04307305, 0.09090909,
        1.        ]])

In [65]:
def recommend(movie):
    movie_index = new_data[new_data.title == movie].index[0]
    distance_of_the_selected_movie = similar_score[movie_index]
    movie_list = sorted(list(enumerate(distance_of_the_selected_movie)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movie_list:
        print(new_data.iloc[i[0]].id)

In [66]:
recommend("Toy Story")

863.0
40752.0
36447.0
26319.0
22777.0

In [46]:
import pickle 
pickle.dump(new_data.to_dict(), open("movie_dict.pkl", "wb"))

In [47]:
pickle.dump(similar_score, open("similar_score.pkl", "wb"))

In [48]:
poster_data = movies[["id", "poster_path"]]

In [50]:
poster_data= poster_data.iloc[:9000,:]

In [51]:
poster_data

           id                       poster_path
0       862.0  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1      8844.0  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2     15602.0  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3     31357.0  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4     11862.0  /e64sOI48hQXyru7naBFyssKFxVd.jpg
...       ...                               ...
8995  67595.0  /yxzuKYuujQo0a8PNjKV4DRpqWR4.jpg
8996  12664.0  /bP2DWMqwXrLeOL3F0alBPIhiWk2.jpg
8997   7500.0  /2YRqFTZrW6GKCCieZ0CAVoyw0EV.jpg
8998  20339.0  /bOxCNid7ZLB9SoUkIGhWKfDqrZy.jpg
8999  11143.0  /fP1M3IbWB9e8x9AXApM8vBN80et.jpg

[9000 rows x 2 columns]

In [53]:
pickle.dump(poster_data.to_dict(), open("poster.pkl", "wb"))